#container{
    background-color:rgb(136, 136, 136) ;
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding:0px;
}

#header{
    width:800px;
    background-color: rgb(206, 6, 6);
    color:black;
    text-align: center;
    padding: 0px;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 800px;
}

#nav li{
    float:left;
    margin-left: 130;
    margin-top:15;
    margin-bottom: 10;
}

#nav a{
    text-decoration:none;
    color:white;
    text-align:center;
    padding: 20px;
}

#nav li a:hover:not(.active){
    background: colour #111;
}

#content{
    padding: 15px;
    width:800px;

}

#main{
    width:800px;
    float: center;
}

h1{
    margin: 8px;
}

h2{
    text-align:center;
    font-size: 270%;
}
#footer{
    clear:both;
    padding:10px;
    background-color: darkslategray;
    colour:white;
    text-align:right;
}

.hide {
    display: none;
    margin-top: 10px;
  }
      
  .myDIV:hover + .hide {
    display: block;
  }

.myDIV{
    background-color: burlywood;
    width: 170px;
    text-align:center;
    padding:5px;
}
