#container{
    background-color:rgb(66, 66, 66) ;
    width: 1024px;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-image:url('images/background2.jpg');
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding:0px;
}

#header{
    width: 1024px;
    background-color: rgb(206, 6, 6);
    color:black;
    text-align: center;
    padding: 0px;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 1024px;
}

#nav li{
    float:left;
    margin-left: 190;
    margin-top:15;
    margin-bottom: 10;
}

#nav a{
    text-decoration:none;
    color:white;
    text-align:center;
    padding: 20px;
}

#nav li a.selected{
    color:darkorchid;
    font-weight: bold;
}

#content{
    padding: 15px;
    width:1000px;

}

#main{
    width:1000px;
    float: center;
    line-height: 2;
    padding:5px;
}

h1{
    margin: 8px;
}

h2{
    text-align:center;
    font-size: 270%;
    color: khaki;
}
#footer{
    clear:both;
    padding:10px;
    background-color: darkslategray;
    color:white;
    text-align:right;
}

.hide {
    display: none;
    margin-top: 10px;
  }
      
  .myDIV:hover + .hide {
    display: block;
  }

.myDIV{
    background-color: burlywood;
    width: 170px;
    text-align:center;
    padding:5px;
    color:black;
    font-size: 125%;
}
td{
    line-height: 1.5;
    padding: 30px;
    float: center;
}

h3{
    text-align: center;
    color: khaki;
    font-size : 270%;
    padding: 0px;
    margin:0px;
}

#plink ul{
    list-style-type: none;
}

#plink li{
    float:left;
    padding:45px;
}

#plink li a{
    color:floralwhite;
    padding: 10px;
    background-color: #111;
    margin: 45px;
    text-decoration: none;
}
h5{
    font-size: 100%;
    color: white;
    text-decoration: underline;
}

#nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 150px;
}

#nav2 li{
    float:left;
    padding:20px;
}

#nav2 ul li a{
    text-decoration:none;
    font-weight: bold;
    color:white;
    text-align:center;
    padding: 20px;
}

#finalimg table{
    margin-left:auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
